* {
    color: #cccccc;
}
body {
    background-color: #330033;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    top: 0;
    position: relative;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin: 0 100px;
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:hover {
    color: #ff0000;
}
.active {
    color: #ff0000;
}
.container {
    flex: 1; /* Permite que el contenido crezca y empuje el footer hacia abajo */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
footer {
    background-color: rgb(0, 0, 0);
    border-top: 1px solid #cccccc;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: relative;
}
@media screen and (max-width: 600px) {
    header {
        padding: 20px 0;
    }
    nav ul li {
        display: inline;
        margin: 10px 20px;
    }
}
